<header id="header" class="header header fixed pin-t lg:z-40 z-20 w-full bg-indigo-100" role="banner">

	{% include 'components/nav.njk' %}
	{% include 'components/player.njk' %}
	{% include 'components/share.njk' %}

</header>