<div class="timeline">
    <div class="timeline__section">
        <a href="#002" class="timeline__marker timeline__marker--active">
            <span>☂️</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section ">
        <a href="" class="timeline__marker timeline__marker--inactive">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker timeline__marker--inactive">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span>🚛</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span>🔬</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span></span>
            <span class="timeline__ticker"></span></a>
    </div>

</div>