<div class="timeline">
    <div class="timeline__section">
        <a href="#002" class="timeline__marker timeline__marker--active">
            <span>2000</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span>2001</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span>2002</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span>2003</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span>2004</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span>2005</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span>2006</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section ">
        <a href="" class="timeline__marker timeline__marker--inactive">
            <span>2008</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker timeline__marker--inactive">
            <span>2012</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span>2013</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span>2014</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span>2015</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span>2016</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span>2017</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span>2018</span>
            <span class="timeline__ticker"></span></a>
    </div>
    <div class="timeline__section">
        <a href="" class="timeline__marker">
            <span>2019</span>
            <span class="timeline__ticker"></span></a>
    </div>
</div>